<h1>Login</h1>

<hr>
<style>
    h4{
        color: red;
        text-decoration: underline;
    }
    form, h1, h4{
        text-align: center;
    }

</style>
 
{% for message in messages%}
<h4>{{message}}</h4>
{% endfor %}

<form method="post" action="">
    {% csrf_token %}
    <p>Username:</p>
    <input required type="text" name="username" placeholder="Enter Username ...">
    <p>Password:</p>
    <input required type="password" name="password"><br><br>
    <input type="submit">
    <hr>
</form>