{% load static %}

{% include 'navbar.html' %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li style="text-decoration: none;" >{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
  <div class="card">
    <div class="row">
      <div class="bg-warning col-lg-3">
        <div class="mt-4 text-center">
          {% for profile in profiles %}
          <img src="{{profile.avatar.url}}" class="img-radius w-50 " style=" margin-bottom: 35px; border-radius: 25%;" alt="User-Profile-Image">
          {% endfor %}
        </div>
        <h1 class="text-center text-light fw-bolder" style="margin-bottom: 35px; text-decoration:underline;">{{user.username}}</h1>
      </div>
      <div class="col-lg-9 text-center ">
       <form action="" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-2 w-lg-50 me-2">
          <input type="email" name="email" value="{{user.email}}" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div> 
        <div class="form-floating mb-2 w-lg-50 me-2">
          {% for profile in profiles %}
          <input type="tel" name="phone" class="form-control" value="{{profile.phone}}" id="floatingInput" placeholder="+254712345678">
          <label for="floatingInput">Phone Number</label>
          {% endfor %}
        </div>
        <div class="form-floating mb-2 w-lg-50 me-2">
          {% for profile in profiles %}
          <input type="text" name="whatsapp" value="{{profile.wlink}}" class="form-control" id="floatingInput" placeholder="api.whatsapp.text?='textme'">
          <label for="floatingInput">WhatsApp Link</label>
          {% endfor %}
        </div> 
        <div class="form-floating mb-2 w-lg-50 me-2">
          {% for profile in profiles %}
          <textarea type="text" name="bio"  class="form-control" id="floatingInput" placeholder="Write anything you would like people to know about you">
              {{ profile.bio }}
          </textarea>
          {% endfor %}
          <label for="floatingInput">Bio</label>
        </div>
        <button class="w-30 mb-3 btn btn-lg btn-danger" type="submit">Update</button>          
       </form>               
      </div>
    </div>
  </div>

</div>